<ion-content class="modal">
  <div style="padding: 5px" class="header">
    <h2>Criação de usuário</h2>
  </div>
  <span class="spacer"></span>
  <ion-list>
    <div class="row center-h" style="position: relative">
      <ion-img src="../../../../assets/icon/man-person.webp" width="300" class="avatar img img-size radius"></ion-img>
      <ion-button color="primary" class="cam-button">
        <ion-icon name="camera" color="light"></ion-icon>
      </ion-button>
    </div>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input placeholder="Seu nome"></ion-input>
    </ion-item>
  </ion-list>
  <span class="spacer"></span>
  <div class="row center-h">
    <ion-button color="primary">
      Salvar <ion-icon name="save" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>
