<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-search-user></app-search-user>
    <ion-item class="user-contact" (click)="goToChatPage()">
      <ion-thumbnail slot="start">
        <ion-img src="https://www.w3schools.com/w3css/img_avatar3.png" width="300" class="avatar img"></ion-img>
      </ion-thumbnail>
      <div>
        <ion-label class="name">
          Teste
        </ion-label>
        <p class="numero">Número</p>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
