<ion-header [translucent]="true">
  <ion-toolbar style="padding: 5px">
    <ion-row class="row center-v">
      <ion-avatar class="img-user">
        <ion-img [src]="getCurrentUser().avatar"></ion-img>
      </ion-avatar>
      <app-search-user></app-search-user>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button>
      <ion-icon name="hammer"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="goToTodoListUsersPage()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div style="padding: 5px;">
    <h1 class="messages-text">Mensagens</h1>
    <p class="quant-messages-text opache-text">Você tem ( ) mensagens</p>
  </div>

  <ion-list>
    <ion-item class="user-contact" (click)="goToChatPage()" *ngFor="let contact of getContacts()">
      <ion-thumbnail slot="start">
        <ion-avatar class="img-user">
          <ion-img [src]="contact.avatar" width="300"></ion-img>
        </ion-avatar>
      </ion-thumbnail>
      <div>
        <ion-label class="name">
          {{ contact.nome }}
        </ion-label>
        <p class="numero">{{ contact.numero }}</p>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
